extends layout

block content
  h1 blinder bot
  #control-panel
    button#forward.btn.btn-success forward
    button#left.btn.btn-primary left
    button#right.btn.btn-warning right
    button#backward.btn.btn-danger backward
  img#live(src='/img/foobar.jpeg')
